<template>
    <canvas ref="el" :width="width" :height="height" />
</template>

<script>
import { ref, onMounted } from 'vue'

export default {
    props: {
        width: {
            type: Number,
            default: 200,
        },
        height: {
            type: Number,
            default: 100,
        },
    },
    setup() {
        const el = ref(null)

        const context = ref(null)

        onMounted(()=>{
            context.value = el.value.getContext('2d')
        })

        return { el, context }
    }
}
</script>