<template>
    <div class="deffered">
        <slot />
    </div>
</template>

<style scoped>
.deffered {
    min-height: 1em;
}
</style>

<script>
export default {
    
    props: {
        once: {
            type: Boolean,
            default: false,
        },
    },

    emits: [ 'load' ],
    
    mounted() {
        var observer = new IntersectionObserver(entries=>{
            if(entries[0].isIntersecting === true) {
                this.$emit('load')
                if (this.once) {
                    observer.unobserve(this.$el)
                }
            }
        }, { threshold: [0] })
        observer.observe(this.$el)
    },

}
</script>