<template>
    <div class="p-text-center">{{ msg }}</div>
    
    <div class="mic">
        <IconBox width="50" height="50"><IconMicRect :value="micLevel" /></IconBox>
    </div>
    
    <div>
        <ProgressSpinner v-if="isPending" strokeWidth="8" style="width:20px;height:20px"/>
        <div v-if="!isPending">{{ settings.state.audioInput.name }}</div>
    </div>

    <div>
        <Button @click="record" v-if="!isRecoding" :disabled="isPending" class="p-button-outlined p-button-danger"><span class="pi pi-circle-on" style="color:red;padding-right:0.4em" />Record</Button>
        <Button @click="stop" v-if="isRecoding" class="p-button-outlined p-button-danger">Stop</Button>
    </div>

    <div>
        <Canvas :width="canvasSize[0]" :height="canvasSize[1]" ref="timeDomainCanvas" />
        <br/>
        <Canvas :width="canvasSize[0]" :height="canvasSize[1]" ref="freqCanvas" />
        <br/>
        <Canvas :width="spectrumSize[0]" :height="spectrumSize[1]" ref="spectrumCanvas" />
    </div>
</template>

<script setup>
import IconMicRect from './icons/IconMicRect.vue'
import Canvas from './Canvas.vue'
import { defineProps, computed, ref, reactive } from 'vue'
import { useStore } from 'vuex'
import AudioAnalyser from '../AudioAnaluser'

defineProps({
    msg: String,
})

const settings = useStore()
const isPending = computed(()=>settings.state.enumerateDevicesPending)
const isRecoding = ref(false)
const micLevel = ref(0)
const timeDomainCanvas = ref(null)
const spectrumCanvas = ref(null)
const freqCanvas = ref(null)
const canvasSize = reactive([ 512 + 256 ,100 ])
const spectrumSize = reactive([ 512 + 256, 256 ])
const timestamp = ref(0)
const spectrumImageData = ref(null)

const record = async ()=>{
    AudioAnalyser.instantiate()
    await AudioAnalyser.buildGraph(settings.state.audioInput.code, 1)
    isRecoding.value = true;
    let ts = performance.now()
    let offsetX = 0;
    requestAnimationFrame(function render() {
        if (!isRecoding.value) { return }
        requestAnimationFrame(render)
        timestamp.value += performance.now()-ts;
        offsetX += 1;
        proccesAudioData(timestamp.value, offsetX)
    })
}

const stop = ()=>{
    isRecoding.value = false;
    AudioAnalyser.disposeGraph()
}

const proccesAudioData = (deltaTime, offsetTick)=>{
    if (AudioAnalyser.context.state !== 'running') { return }
    
    if (!timeDomainCanvas.value) { return }
    
    let buffer = AudioAnalyser.getFloatTimeDomainData(0)
    let width = timeDomainCanvas.value.width;
    let height = timeDomainCanvas.value.height;
    let ctx = timeDomainCanvas.value.context;
    ctx.fillStyle = '#eee';
    ctx.fillRect(0, 0, width, height)
    ctx.lineWidth = 2;
    ctx.strokeStyle = 'rgb(0, 0, 0)';
    ctx.beginPath()
    let sliceWidth = width * 1.0/buffer.length;
    let x = 0;
    let y = 0;
    for(let i=0; i<buffer.length; ++i) {
        y = buffer[i] * (height/2) + height/2;
        if (i === 0)
            ctx.moveTo(x, y)
        else
            ctx.lineTo(x, y)
        x += sliceWidth;
    }
    ctx.lineTo(x, y)
    ctx.stroke()

    buffer = AudioAnalyser.getByteFrequencyData(0)
    width = freqCanvas.value.width;
    height = freqCanvas.value.height;
    ctx = freqCanvas.value.context;
    ctx.fillStyle = '#eee';
    ctx.fillRect(0, 0, width, height)
    sliceWidth = width/buffer.length;
    x = 0;
    let levels = [ ];
    for(let i=0; i<buffer.length; ++i) {
        let v = (buffer[i]/255);
        let y = height * v;
        ctx.fillStyle = `hsl(${240*(1-v)}, 100%, 50%)`;
        ctx.fillRect(x, height, sliceWidth-1, -y)
        x += sliceWidth;
        levels.push(v)
    }

    levels.sort((a,b)=>b-a)
    levels.splice(3)
    micLevel.value = levels.reduce((a,b)=>a+b, 0) / levels.length;

    width = spectrumCanvas.value.width;
    height = spectrumCanvas.value.height;
    ctx = spectrumCanvas.value.context;
    let offsetX = offsetTick >= width ? width-1 : offsetTick;
    if (offsetTick===1) {
        // ctx.fillStyle = '#eee';
        ctx.fillStyle = `hsl(240, 100%, 50%)`;
        ctx.fillRect(0, 0, width, height)
    }
    if (offsetTick > width && spectrumImageData.value!==null) {
        ctx.putImageData(spectrumImageData.value, -1, 0)
    }
    // let pickWidth = width//buffer.length;
    // let pickHeight = height/buffer.length;
    for(let i=0; i<buffer.length; ++i) {
        let v = (buffer[i]/255);
        ctx.fillStyle = `hsl(${240*(1-v)}, 100%, 50%)`;
        ctx.fillRect(offsetX, i, 1, 1)
    }

    spectrumImageData.value = ctx.getImageData(0, 0, width, height)
}
</script>

<style scoped>
div {
    margin-top: 1em;
}
.mic {
    display: inline-block;
    line-height: 0;
    border-radius: 10px;
    overflow: hidden;
}
</style>