<template>
    <svg xmlns="http://www.w3.org/2000/svg"
        :id="id"
        :width="width"
        :height="height"
        viewBox="0 0 24 24"
        :aria-labelledby="iconName"
        role="presentation">

        <title :id="iconName" lang="en">{{iconName}} icon</title>
        
        <g :fill="iconColor">
            <slot />
        </g>
        
  </svg>
</template>
<script>
export default {
  props: {
    id: {
        type: String,
        default: '',
    },
    iconName: {
        type: String,
        default: 'box'
    },
    width: {
        type: [Number, String],
        default: 18
    },
    height: {
        type: [Number, String],
        default: 18
    },
    iconColor: {
        type: String,
        default: 'currentColor'
    }
  }
}
</script>