<template>
    <section>
        <Button label="Home" @click="$router.push('/')" />
        <Button label="Settings" @click="$router.push('/settings')" />
    </section>
</template>

<script setup>

</script>

<style scoped>
section {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
}
section button {
    margin-left: 1.5em;
    margin-right: 1.5em;
}
section button + button {
    margin-top: 0.5em;
}
</style>