<template>
    <Dropdown class="select"
        v-model="selected"
        :options="settings.state.audioInputDevices"
        optionLabel="name"
        placeholder="Plesae, select audio input device" />
</template>

<style scoped>
.select {
    height: auto;
    width: 100%;
}
</style>

<script setup>
import { defineProps, defineEmit, watch, ref, computed } from 'vue'
import { useStore } from 'vuex'

const emit = defineEmit([ 'update:modelValue' ])

const props = defineProps({
    modelValue: Object,
})

const settings = useStore()
const selected = ref(settings.state.audioInput)

watch(selected, val=>{
    settings.commit('audioInput', val)
    emit('update:modelValue', val)
})

settings.subscribe(data=>{
    if (data.type === 'audioInput') {
        selected.value = data.payload;
    }
})
</script>