<template>
    <TabView>
        <TabPanel header="Audio Input">
            <ProgressSpinner strokeWidth="8" style="width:20px;height:20px" v-if="settings.state.enumerateDevicesPending"/>
            <SelectAudioDevice />
        </TabPanel>
    </TabView>
</template>

<script setup>
import SelectAudioDevice from './SelectAudioDevice.vue'
import { useStore } from 'vuex'
const settings = useStore()
</script>

<style scoped>
.p-tabview {
    width: 100%;
}
.p-progress-spinner {
    position: absolute;
    margin-top: 0.5em;
    margin-left: 0.5em;
    z-index: 100;
}
</style>