<template>
    <rect x="0" y="0" width="24" height="24" />
    <clipPath id="myMask">
        <rect x="0" y="0" width="24" :height="progress" />
    </clipPath>
    <g fill="rgb(0, 200, 0)">
        <IconMic />
    </g>
    <g fill="white" clip-path="url(#myMask)">
        <IconMic />
    </g>
</template>

<script setup>
import IconMic from './IconMic.vue'
import { defineProps, computed } from 'vue'

const props = defineProps({
    value: {
        type: Number,
        default: 1,
    }
})

const progress = computed(()=>24-(24*props.value))
</script>