<template>
    <div>
        <Panel />
    </div>
    <div>
        <router-view :key="$route.fullPath"></router-view>
    </div>
</template>

<script setup>
import Panel from './components/Panel.vue'
</script>

<style>
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
}

#app > div {
    height: 100%;
    width: 80%;
}

#app > div:first-child {
    width: 20%;
    background-color: #eeeeee;
}
</style>